.login-wrapper{
  background-color: white ;
  border-radius: 10px;
  padding: 15px;
  margin: auto;
  width: 30%;
  text-align: center; 
  background-color: rgb(98, 183, 155);

}

.form-group{
  margin-top: 15px;
  
}

input{
  margin-left: 25px;
}

button{
  margin-top: 25px;
  padding: 10px;
  background-color: rgb(177, 147, 204);
  border-radius: 5px;
}