body {
  margin-top: 200px;
}

.formulario {
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  margin: auto;
  width: 30%;
  text-align: center;
}

.campo {
  margin-top: 20px;
          
  justify-content: center; /* centra horizontalmente el contenido */
  align-items: center;    
}

label {
  font-size: 18px;
  font-weight: bold;
  width: 150px;            
  text-align: right;       
  margin-right: 10px;
}

input {
  padding: 5px;
  width: 200px;
  border: 1px solid #0b0909;
  border-radius: 5px;
}

button {
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(112, 214, 214);
  color: black;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
}
