body{
    height: 80vh;
    background-image: linear-gradient(
        0deg,
        rgba(240, 248, 250, 0.5),
        rgba(22, 6, 65, 0.5)
    )
    ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;}
h1{
    text-align: center;
    margin-top: 100px;
    font-size: 80px;
    color: rgb(47, 6, 112);
}

.tabla{
    text-align: center;
    margin: auto;
    width: 33%;
}

.eleccion{
    
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 25px;
}
/* .graficos{
    margin: 50%;
} */

.botnes_graf{
    /* margin: 15px; */
    padding: 10px;
    margin: auto;
    width: 10%;
    
    
}

h2{
    text-align: center;
    font-size: 50px;
    
}

.graficos{
    margin: auto;
    width: 90%;
}