body{
    height: 80vh;
    background-image: linear-gradient(
        45deg,
        rgba(248, 229, 57, 0.5),
        rgba(75, 32, 228, 0.5)
    )
    ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;}
h1{
   text-align: center;
   margin-top: 100px;
   font-size: 80px;
   color: rgb(204, 41, 41);
}

.tabla{
    margin: auto;
    width: 30%;
    text-align: center;
}

.checkbox{
    margin: auto;
    width: 28%;
    text-align: center;
}