<body>
    <router-outlet/>

    <h1 class="titulo">Nuestras Sucursales</h1>

    <div class="tabla_Suc">
        <a *ngIf="isAdmin" [routerLink]="['/agregar']"><button class="btn-agregar">Agregar una sucursal</button></a>

        <div class="tabla">
            <table class="tabla" border="1">
        <th>Nombre</th>
        <th>Direccion</th>
        <th>Cantidad empleados</th>
                @for (suc of sucursales; track $index) {
                    <tr>
            <td>{{suc.Nombre_Suc}}</td>
            <td>{{suc.Dir_Suc}}</td>
            <td>{{suc.Cant_Emp_Suc}}</td>
        </tr>
                }
        
    </table>
        </div>
    

    </div>
    
</body>
