.tabla {
  margin: 20px auto; 
  border-collapse: collapse;
  background-color: rgb(126, 93, 93); 
  border: 1px solid #ccc;
  width: 80%; 
  border-radius: 25px;

  border-radius: 15px;       
  overflow: hidden;         
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}

.tabla th,
.tabla td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  background-color: white;
}

.tabla th {
  background-color: #887e7e;
}

button{
  padding: 10px;
  border-radius: 10px;

  display: block;
  margin: 0 auto;
  background-color: rgb(112, 214, 214);
  color: black;
  font-size: 18px;
  font-weight: bold;
}
h1{
  text-align: center;
  font-size: 60px;   
}

a{
  text-decoration: none;
  color: black;
}
button:hover{
  background-color: #1E3A8A;
  color: white;
}

body {
  margin-top: 100px;
}


