body {
  margin-top: 100px;
  
}

.titulo{
  text-align: center;
  font-size: 60px;
}

/* --- TABLA --- */
.tabla {
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;  /* fondo de las celdas */
}

.tabla th,
.tabla td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

.tabla th {
  background-color: #887e7e;
  color: white;
  font-weight: bold;
}

/* --- ESTADOS --- */
.activo {
  color: yellow;
  background-color: green;
  padding: 5px 10px;
  border-radius: 5px;
}

.inactivo {
  color: yellow;
  background-color: red;
  padding: 5px 10px;
  border-radius: 5px;
}
