body{
    height: 80vh;
    background-image: linear-gradient(
        0deg,
        rgba(247, 232, 98, 0.5),
        rgba(92, 4, 4, 0.5)
    )
    ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;}
.titulo{
   text-align: center;
   margin-top: 100px;
   font-size: 80px;
   color: rgb(47, 6, 112);
}

.tabla{
    text-align: center;
    margin: auto;
}