body{
 
    height: 80vh;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0,0,0,0.5)
    )
    ,url("empresa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
h1{
   text-align: center;
   margin-top: 100px;
   font-size: 80px;
   color: white;
}
p{
    text-align: center;
    margin: 20px 20px 0px 20px;
    font-size: 40px;
    color: white;  
}